html{
    height: 100%;
}

body{
    height: 100%;
    margin: 0;
    background-color: black;
    font-family: "Roboto", sans-serif;
}

#meio{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

#login{
    background-color: black;
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#Lcima{
    background-color: blueviolet;
    width:100%;
    height: 100%;
}

#btnLogin{
    background-color: black;
    color: white;
    border-radius: 20%;
}

#Lbaixo{
    background-color: blue;
    width:100%;
    height: 70%;
}

#esquerda{
    background-color:black;
    width:20%;
    height:100%;
}

#Ecima{
    width:100%;
    height:40%;
    background-color: black;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
   border-bottom: 2px solid white;
}

#logo{
    width:50%;
    height:50%;
    background-color:blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 90%;
}


#EcomTitulo{
    width:40%;
    height:20%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

#EcoTitulo{
    color: white;
}

#Atvd{
    width:100%;
    height:20%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row; 
}

.item-atvd {
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.item-atvd h1, .item-atvd p {
    margin: 0;
    padding: 0;
}


#Atvd h1 {
    font-size: 40px; 
    color: white;
}

#Atvd p {
    font-size: 15px;
    color: white; 
}

#Ebaixo{
    width:100%;
    height:40%;
    background-color:black;
    display: flex;
    flex-direction: column; 
    border-bottom: 2px solid white;
}

#btAtividade{
    width:100%;
    height:20%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#btnatvd{
    width:100%;
    height:100%;
    color: white;
    background-color: black;
    font-size: 30px;
    border-bottom: 2px solid white;
}

#EMbaixo{
    width:100%;
    height:19%;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#EcoBaixo{
    width: 100%;
    height: 40%;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#EcoMbaixo{
    color: white;
    font-size: 30px;
}

#icons{
    width: 100%;
    height: 30%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.icones{
    width: 30%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}

.txtIcons{
    color: white;
    font-size: 20px;
}

#footer{
 width: 100%;
    height: 20%;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#Tfooter{
    color: white;
    font-size: 15px;
}

#direita{
    background-color: aliceblue;
    width: 80%;
    height: 100%;
}
